*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.encabezado{
    display: flex;
    justify-content: space-between;


}
.encabezado ul{
    display: flex;
    list-style: none;
}

.encabezado ul li{
    padding: 10px;
}